<div>
<p>{{user.state}}</p>
<p>{{user.displayname}}</p>
<p>{{user.email}}</p>
<img [src]="user.avatar_url" [alt]="user.intra_name"/>
<p>statistique :</p>
<!-- <app-list-match-history [user]="user"></app-list-match-history> -->
<p>historique des matchs :</p>
    <div *ngIf="alreadyFriend; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <a href="javascript:void(0);" (click)="removeFriend()">Enlever des amis</a>
    </ng-template>
    <ng-template #elseBlock>
        <a href="javascript:void(0);" (click)="addFriend()">Ajouter en amis</a>
    </ng-template>
    <p></p>
    <div *ngIf="alreadyBlocked; then thenBloc else elseBloc"></div>
    <ng-template #thenBloc>
        <a href="javascript:void(0);" (click)="unblockUser()">Debloquer l'utilisateur</a>
    </ng-template>
    <ng-template #elseBloc>
        <a href="javascript:void(0);" (click)="blockUser()">Bloquer l'utilisateur</a>
    </ng-template>

<!-- <div *ngIf="alreadyBlocked; then thenBlock else elseBlock"></div> -->
<!-- <ng-template #thenBlock> </ng-template> -->
<!-- <ng-template #elseBlock> </ng-template> -->
</div>
