html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;}

*{
	box-sizing: border-box;
	transition: all ease 0.4s;
}
img{
	max-width: 100%;
	height: auto;
}

body{
	background-color: #1F1F1F;
}
a{
	color: inherit;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
}

@font-face {
	font-family: 'Titan One';
	src: url('../../../../assets/fonts/Titan_One/TitanOne-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Regular';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Medium';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Bold';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

.penalty {
	margin: 20px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	border-radius: 20px !important;
	/* background-color: blue; */
}


.penalty-header {
	/* background-color: chartreuse; */
	font-family: 'ReadexPro-SemiBold';
	font-size: 30px;
	color: #feefcf;
	margin-bottom: 40px;
}

.penalty-content {
	margin-bottom: 40px;
}


.penalty-time-input {
	width: 48px;
	color: #feefcf;
	background-color: #343330;
	font-family: 'ReadexPro-Regular';
	border: none;
	padding: 2px 8px 2px 8px;
	border-radius: 6px;
}
.penalty-time-input:focus {
  outline: none;
}

#all-entry{
  display: flex;
  flex-direction: row;
}

.penalty-entry {
	/* background-color: cornflowerblue; */
	display: flex;
	flex-direction: row;
	font-family: 'ReadexPro-Regular';
	color: #feefcf;
	margin-right: 40px;
}
.penalty-entry:last-child {
	margin-right: 0px;
}

.penalty-entry p{
	margin-left: 10px;
}

.penalty-footer {
	display: flex;
	flex-direction: row;
}

.penalty-footer button{
	font-family: 'ReadexPro-Regular';
	font-size: 20px;
	color: #feefcf;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.penalty-check-box {
	font-family: 'ReadexPro-Medium';
	color: #feefcf;
	margin-bottom: 20px;
}

.penalty-footer button{
	height: 35px;
	margin-left: 25px;
	font-family: ReadexPro-Medium;
	font-size: 14px;
	color: #feefcf;
	background-color: transparent;
	border-radius: 6px;
	border: 2px solid #343330;
	padding: 4px 10px 4px 10px;
	margin-top: -5px;
}
.penalty-footer button:first-child{
	margin-left: 0px;
}

.penalty-footer #cancel:hover{
	color: #ee481e;
	cursor: pointer;
	border: 2px solid #ee481e;
}
.penalty-footer button:focus{
	outline: none;
}
.penalty-footer #sanction:hover{
	color: #feefcf;
	cursor: pointer;
	border: 2px solid #feefcf;
}
.penalty-footer button img{
	margin-left: 4px;
}