html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;}

@font-face {
	font-family: 'Titan One';
	src: url('../../../../assets/fonts/Titan_One/TitanOne-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Light';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Regular';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Medium';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-SemiBold';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Bold';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

*{
	box-sizing: border-box;
	transition: all ease 0.4s;
}
img{
	max-width: 100%;
	height: auto;
}

body{
	background-color: #1F1F1F;
	height: 100%
}
a{
	color: inherit;
}

.center{
	margin: auto;
	max-width: 1290px;
	clear: both;
}
hr.clear{
	margin: 0;
	padding: 0;
	clear: both;
	border: none;
	height: 0px;
	display: block;
}

.new-room-container{
	padding: 22px;
	width: 100%;
}
/* #return-mobile{
	display:flex;
	flex-direction: row;
} */
#title-n-button #return{
	display: none;
}
#title-n-button button{
	display: none;
}

.demi-public ul{
	/* background-color: blueviolet; */
	flex-direction: column;
	height: 570px;
	overflow-y: auto;
}

.demi-public ul li{
	border: 2px solid #343330;
	border-radius: 10px;
	list-style-type: none;
	margin-bottom: 12px;
	padding: 20px;
	display: flex;
}
.info-list{
	width: 95%;
}
#title-list{
	display: flex;
	margin-bottom: 10px;
	/* background-color: aqua; */
}

.demi-public .but{
	margin: auto 0px auto 0px;
}

.demi-public li button{
	background-color: #343330;
	border: none;
	border-radius: 4px;
	width: 30px;
	height: 30px;
}
.demi-public li button img{
	width: 12px;
	margin: auto;
	padding-top: 3px;
}
.demi-public li button:hover{
	background-color: #feefcf;
}
/* .avatars li img{
	width:11px;
	margin-top: -3px;
	margin-left: 3px;
} */

.button-creer button{
	font-family: Titan One;
	font-size: 14px;
	color: #feefcf;
	text-decoration: none;
	background-color: #ee481e;
	border-radius: 6px;
	border: 3px solid #feefcf;
	box-shadow: -3px 3px #feefcf;
	padding: 10px 25px 10px 25px;
	margin-top: 20px;
	cursor: pointer;
}
.button-creer button:hover{
	background-color: #161616;
	color: #feefcf;
	border: 3px solid #ee481e;
	box-shadow: -3px 3px #ee481e;
}
.button-creer button:disabled{
	color: #9c9381;
	background-color: #343330;
	border: 3px solid #9c9381;
	box-shadow: -3px 3px #9c9381;
	cursor: auto;
}

/* typo -------------------------------------------------------------------------------- */

.new-room-container #tt-h2{
	font-family: Titan One;
	font-size: 32px;
	color: #feefcf;
	/* margin-bottom: 25px; */
}
/* .demi-public h2{
	margin-left: 20px;
} */
.demi-public #tt-h3{
	font-family: ReadexPro-Bold;
	font-size: 16px;
	color: #feefcf;
	margin-right: 7px;
}
.demi-public #description{
	font-family: ReadexPro-Regular;
	font-size: 12px;
	margin-bottom: 15px;
}

#title-n-button{
	display: flex;
    flex-direction: row;
	/* margin-top: 30px; */
	margin-bottom: 25px;
}
#title-n-button button{
    /* width: 35px; */
    height: 35px;
    margin-left: 25px;
	font-family: ReadexPro-Medium;
	color: #feefcf;
	background-color: transparent;
	border-radius: 6px;
	border: 2px solid #343330;
	padding: 4px 10px 4px 10px;
	/* margin-top: 30px; */
}
#title-n-button button:hover{
	color: #ee481e;
	cursor: pointer;
	border: 2px solid #ee481e;
}
#title-n-button button:focus{
	outline: none;
}
#title-n-button button img{
	margin-left: 4px;
}

/* champs de text ------------------------------------------------------------------------- */

#input-box{
	display: flex;
	flex-direction: column;
	font-family: ReadexPro-Medium;
	margin-bottom: 20px;
}
#input-title{
	font-size: 11px;
	margin-left: 4px;
	margin-bottom: 4px;
	font-family: ReadexPro-Regular;
	color: #9c9381;
}
#input-error{
	margin-top: 4px;
	font-size: 11px;
	margin-left: 4px;
	font-family: ReadexPro-Regular;
	color: #ee481e;
}
textarea{
	height: min-content;
}
#input-text {
	border-radius: 10px;
	padding: 15px 15px 0px 15px;
	width: 100%;
	background: #343330;
	border: none;
	resize: none;
	color: #feefcf;
	font-family: ReadexPro-Medium;
	font-size: 14px;
	overflow: hidden;
}
#input-text::placeholder{
	color: #9c9381;
}
#input-text:focus {
	outline: none;
}

#public-check-box {
	font-family: ReadexPro-Medium;
	margin-bottom: 5px;
}

/*------------------------------------------------------------ Grille */
.demi-public{
	float: left;
	margin-right: 20px;
	padding: 48px 0px 48px 0px;
	/* background-color: blue; */
	height: calc(720px - 44px);
	width: calc(50% - 10px);
}

.demi-publilc:nth-child(2n){
	margin-right: 0px;
}
.demi-create{
	float: left;
	padding: 48px 20px 48px 20px;
	background-color: #161616;
	border-radius: 10px;
	height: calc(720px - 44px);
	width: calc(50% - 10px);
}


.avatars {
	display: flex;
}

.avatars__item {
	/* Nagative margin make avatar overlap to previous one */
	margin-left: -0.95rem;
}
.avatars__item:first-child {
	margin-left: 0;
}

.avatars img {
	border-radius: 50%;
	object-fit: cover;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 30px;
	height: 30px;
	border: 2px solid #ee481e;
}


@media only screen and (max-width: 1145px) {

	.demi-create{
		float: none;
		display: none;
	}
	#title-n-button #return{
		display: flex;
		width: 35px;
		height: 35px;
		margin-right: 20px;
	}
	#title-n-button button{
		display: block;
	}
	.demi-public{
		float: none;
		/* margin-right: 20px;
		padding: 48px 0px 48px 0px;
		background-color: blue;
		height: calc(720px - 44px); */
		width: 100%;
	}

}

