<header>
    <h1>Best pong game ever</h1>
    <p>you are connected as username or unconnected (Ng if connected on playpong and chat)</p>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/playpong" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Play Pong</a>
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</a>
        <a routerLink="/myprofile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">My profile</a>
        <a routerLink="/chat" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Chat</a>
    </nav>
</header>
