<!--<nav *ngIf="navbar.visible">!-->

  gateway global mon cul;
 // prisma game model

  <header>
    <h1>Best pong game ever</h1>
    <a routerLink="/playpong" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Play Pong</a>
    <a routerLink="/myprofile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">My profile</a>
    <a routerLink="/chat" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Chat</a>
    <a routerLink="/friends" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Friends</a>
    <a href="javascript:void(0);" (click)="logOut()">Log Out</a>
</header>






<!--</nav> -->
