<app-header></app-header>
<!--<div class="wrapper">
	<div class="container-login" >
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input matInput placeholder="Email" formControlName="email">
      <p></p>
      <input matInput placeholder="Password" formControlName="password">
      <p></p>
      <button [disabled]="!loginForm.valid" type="submit" id="login-button">Log in</button>

      <p>or</p>
      <a routerLink="/register" class="log-reg-dir">Register</a>
    </form>
      <p>or</p>
      !-->
      <div>
        <a class="log-reg-dir"  href= "http://localhost:3000/api/v1/auth/42">
          <span style="color: #8F0000">Log in with </span>
          <img style="width: 20px"src="/assets/img/42.svg.png" >
        </a>
      </div>
        
      

    <!--</div>
  </div>
      <pre>
      Value: {{ loginForm.value | json }}
      </pre>!-->


      


    <!--<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<input matInput placeholder="Email" formControlName="email">
			<button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit" id="login-button">Log in</button>
			<p>or</p>
			<a routerLink="/public/register" class="log-reg-dir">Register</a>
		</form>
		<a class="log-reg-dir" href="/api/oauth2/school42">
			<span style="color: #8F0000">Log in with</span>
			<img style="width: 50px"src="/assets/img/42.svg.png" >
		  <span style="color: #8F0000">account</span>
	  </a>
	 </div>!-->
<!--<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

</form>
<p>password: <input type="text"> </p>

<p>id: <input type="number"></p>
<div ng-app="">
    <p>名字 : <input type="text" ng-model="user"></p>
    <h1>Hello {{ user }}</h1>
  </div>!-->
<!--<button (click)="userService.getUserById(<input type="number'>)">Oh Snap!</button> </p> !-->

<!--<p><button>connect</button></p>!-->


<!--<body>
    

<div ng-controller="ExampleController">
    <form name="userForm">
      <label>Name:
        <input type="text" name="userName"
               ng-model="username"
               ng-model-options="{ getterSetter: true }" />
      </label>
    </form>
    <pre>userName= <span ng-bind="userName"></span></pre>
  </div>
</body> !-->

    

    
  
