<div *ngIf="room.id else no_room">
	<div class="flexbox">
		<div #scroll id="chat_box" class="chat-box">
	
			<!-- CLASS chat-box-header -->
			<section class="chat-box-header">
				<!-- <div class="chat-box-info"> -->
					<div class="friend-room" *ngIf="room.type === 'DM'">
						<img id="fiend-img"src="{{friend.avatar_url}}" alt="{{friend.displayname}}" class="user-dm-avatar" >
						<h2 id="friend-name">{{ friend.displayname }}</h2>
					</div>

					<ng-container *ngIf="room.type === 'GROUP'">
						<div class="line-one">
							<div class="title-n-return">
								<img id="mobile-return" (click)="closeRoom()" src="../../../../assets/svg/return.svg" alt="retour">
								<h2 id="room-name"*ngIf="room.type === 'GROUP'" >{{ room.name }}</h2>
							</div>
							<!-- Settings -->
							<div class="chat-box-settings">
								<img *ngIf="room.type === 'GROUP'" src="../../../../assets/svg/settings.svg" alt="settings" (click)="showParam()">
							</div>
						</div>
					</ng-container>
					<!-- <h2 *ngIf="room.type === 'GROUP'" >{{ room.name }}</h2> -->
					<p id="head-description">{{room.description}}</p>
					<ng-container *ngIf="room.type === 'GROUP'">

						<!--- MatChip list with avatar. chip id is #membres -->
						<mat-chip-listbox #membres>
							<mat-chip id="membres" *ngFor="let member of room.users" >
								<img matChipAvatar class="chip_avatar" src="{{member. avatar_url}}" alt="User avatar">
								{{member.displayname}}
								<img *ngIf="member.state ==='ONLINE'" style="margin-left: 5px;" src="../../../../assets/svg/oval-green.svg" alt="">
							</mat-chip>
						</mat-chip-listbox>
					</ng-container>
				<!-- </div> -->
			</section>
	
			<!-- CLASS chat-box-body -->
			<div id="chat_box_body" class="chat-box-body">
				<div id="chat_messages">
					<ng-container *ngFor="let message of (messages$ | async)">
						<ng-container *ngIf="message.user.id === user.id">
							<!-- <div class="profile my-profile">
								<span> Moi </span>
								<img src="{{ message.user.avatar_url }}"/>
							</div> -->
							<div class="message my-message">{{ message.content }}</div>
						</ng-container>
						<ng-container *ngIf="message.user.id !== user.id">
							<div class="profile other-profile">
								<p> {{ message.user.displayname }} </p>
								<div id="{{message.id}}" class="message other-message">{{ message.content }}</div>
								<span class="date">Envoyé le {{ message.createdAt | date: 'dd/MM/yyyy à HH:mm' }}</span>
							</div>
						</ng-container>
					</ng-container>
				</div>
			</div>
	
				<!-- CLASS chat-box-footer -->
				<form [formGroup]="form" (ngSubmit)="sendMessage()" class="chat-box-footer">
					<div class="chat-input">
						<input matInput id="chat-input-text"
                            minlength="2"
                            maxlength="500"
                            placeholder="J’ecris le super message de la mort qui tue ici"
                            formControlName="message" >
						<!-- Bouton send + icon -->
						<button id="but-send" mat-raised-button type="submit" (action)="sendMessage()">
							<img id="icon-send" src="../../../../assets/svg/icon-send2.svg" alt="send">
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


<ng-template #no_room>
	<mat-error  class="no-room" >Aucun groupe sélectionné</mat-error>
</ng-template>
