<app-header></app-header>
<p>you might need google anthentificator</p>
<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input matInput placeholder="Email" formControlName="email">
    <p></p>
    <input matInput placeholder="Username" formControlName="displayname">
    <p></p>
    <input matInput placeholder="Password" formControlName="password">
    <p></p>
    <button [disabled]="!registerForm.valid" type="submit" id="register-button">Register</button>
  </form>

  <pre>
    Value: {{ registerForm.value | json }}
    </pre>
