<h2>Mes matchs</h2>
<ul class="match-list">

	<!-- MATCH -->
	<li>
		<div class="result">
			<span id="win">Victoire</span>
		</div>
		<div class="VS">

			<!-- Moi -->
			<div id="my-profile">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a>vserra7890</a>
			</div>

			<!-- Scores -->
			<div id="scores">
				<div id="score-lol"><span id="winner-score">58</span></div>
				<div id="score-lol"><span id="loser-score">28</span></div>
			</div>

			<!-- Adversaire -->
			<div id="my-enemy">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a href="son-profil">mmarcus</a>
			</div>
		</div>
	</li>

	<!-- MATCH -->
	<li>
		<div class="result">
			<span id="win">Victoire</span>
		</div>
		<div class="VS">

			<!-- Moi -->
			<div id="my-profile">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a>vserra7890</a>
			</div>

			<!-- Scores -->
			<div id="scores">
				<div id="score-lol"><span id="winner-score">58</span></div>
				<div id="score-lol"><span id="loser-score">28</span></div>
			</div>

			<!-- Adversaire -->
			<div id="my-enemy">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a href="son-profil">vserra7890</a>
			</div>
		</div>
	</li>

	<!-- MATCH -->
	<li>
		<div class="result">
			<span id="loose">Défaite</span>
		</div>
		<div class="VS">

			<!-- Moi -->
			<div id="my-profile">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a>vserra7890</a>
			</div>

			<!-- Scores -->
			<div id="scores">
				<div id="score-lol"><span id="loser-score">12</span></div>
				<div id="score-lol"><span id="winner-score">71</span></div>
			</div>

			<!-- Adversaire -->
			<div id="my-enemy">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a href="son-profil">0123456789</a>
			</div>
		</div>
	</li>

	<!-- MATCH -->
	<li>
		<div class="result">
			<span id="loose">Défaite</span>
		</div>
		<div class="VS">

			<!-- Moi -->
			<div id="my-profile">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a>vserra7890</a>
			</div>

			<!-- Scores -->
			<div id="scores">
				<div id="score-lol"><span id="loser-score">12</span></div>
				<div id="score-lol"><span id="winner-score">71</span></div>
			</div>

			<!-- Adversaire -->
			<div id="my-enemy">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a href="son-profil">0123456789</a>
			</div>
		</div>
	</li>

	<!-- MATCH -->
	<li>
		<div class="result">
			<span id="loose">Défaite</span>
		</div>
		<div class="VS">

			<!-- Moi -->
			<div id="my-profile">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a>vserra7890</a>
			</div>

			<!-- Scores -->
			<div id="scores">
				<div id="score-lol"><span id="loser-score">12</span></div>
				<div id="score-lol"><span id="winner-score">71</span></div>
			</div>

			<!-- Adversaire -->
			<div id="my-enemy">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a href="son-profil">0123456789</a>
			</div>
		</div>
	</li>

	<!-- MATCH -->
	<li>
		<div class="result">
			<span id="loose">Défaite</span>
		</div>
		<div class="VS">

			<!-- Moi -->
			<div id="my-profile">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a>vserra7890</a>
			</div>

			<!-- Scores -->
			<div id="scores">
				<div id="score-lol"><span id="loser-score">12</span></div>
				<div id="score-lol"><span id="winner-score">71</span></div>
			</div>

			<!-- Adversaire -->
			<div id="my-enemy">
				<img src="../../../../assets/img/default_profile_picture.webp" alt="">
				<!-- <img [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
				<a href="son-profil">0123456789</a>
			</div>
		</div>
	</li>
</ul>