html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;}

*{
	box-sizing: border-box;
	transition: all ease 0.4s;
}
img{
	max-width: 100%;
	height: auto;
}

body{
	background-color: #1F1F1F;
	height: 100%;
	/* display:flex; */
}
a{
	color: inherit; /*pk ?*/
}

@font-face {
	font-family: 'Titan One';
	src: url('../../../assets/fonts/Titan_One/TitanOne-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Light';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Regular';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Medium';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-SemiBold';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Bold';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

.center{
	margin: auto;
	max-width: 1290px;
	clear: both;
}

.user-bloc{
	margin: 0px 0px 30px 5px;
	display: flex;
}
#user-info-chat-page{
	padding: 12px 0px 12px 20px;
	color: #feefcf;
}
.intraName{
	font-family: Titan One;
	font-size: 20px;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 3px;
  margin-left: 10px;
  margin-top: 10px;

}
.intraEmail{
	font-family: ReadexPro-Medium;
	font-size: 13px;
	text-decoration: none;
	display: flex;
	flex-direction: column;
  margin-left: 10px;
  margin-top: 8px;

}
.user-bloc img{
	width: 64px;
	height: 64px;
	object-fit: cover;
	border-radius: 6px;
	border: 3px solid #ee481e;
	box-shadow: -3px 3px #ee481e;
}

.switch-groupes-amis {
	flex-direction: column;
}
.switch-groupes-amis{
  width: 240px;
}

/* Styles for tab labels */
.switch-groupes-amis .mat-tab-label {
	min-width: 40px !important;
	padding: 15px;
	border-radius: 40px;
	color: #feefcf;
	font-family: ReadexPro-Medium;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: -0,16;
}

/* Styles for the active tab label */
.switch-groupes-amis .mat-tab-label.mat-tab-label-active {
	min-width: 40px !important;
	padding: 15px;
	background-color: #ee481e;
	border-radius: 40px;
	border: 2px solid #feefcf;
	color: #feefcf;
	font-family: ReadexPro-Medium;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}

/* Styles for the ink bar */
.mat-ink-bar {
	display: none;
}

.mat-tab-group ul{
	flex-direction: column;
	margin-top: 30px;
	list-style-type: none;
	max-height: 330px;
	padding-left: 10px;
}

/* Styles for group list / friend list */
.mat-tab-group ul li{
	font-family: ReadexPro-Bold;
	color: #feefcf;
	font-size: 14px;
	margin-top: 20px;
}
.mat-tab-group ul li:hover{

	transition: all ease 0.00001s;
	font-size: 18px;
	cursor: pointer;
}


.button-new-room{
	font-family: Titan One;
	font-size: 14px;
	color: #feefcf;
	/* text-align: center; */
	text-decoration: none;
	background-color: #ee481e;
	border-radius: 6px;
	border: 3px solid #feefcf;
	box-shadow: -3px 3px #feefcf;
	width: 200px;
	display: block;
	padding: 18px 25px 17px 25px;
	margin: 20px 0px 60px 5px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.button-new-room:hover{
	background-color: #1F1F1F;
	color: #ee481e;
}

.no-room{
	font-family: Titan One;
	font-size:25px;
	text-align: center;
	color:#feefcf;
	display: flex;
	align-self: center;
	margin-top: 37%;

}

/*------------------------------------------------------------ Grille */
.main-container{
	display: flex;
}

.sidebar,
.content-chat-page{
	/* float: left; */
	display: flex;
	flex-direction: column;
    border: 2px solid #feefcf;
    border-radius: 20px;
    color: #feefcf;
	height: 720px;
}

.sidebar{
	margin-right: 30px;
	padding: 60px 20px 60px 20px;
    /* width: calc(25% - 22.5px); */
	min-width: 300px;
	position: relative;
}
.content-chat-page{
	flex-grow: 1;
	display:flex;
	/* max-width */
	/* box-sizing:  */
	/* max-width: 70%; */
	/* display: block; */
	/* max-width: 960px; */
	/* flex-wrap:nowrap; */
}
.troisquart:last-child,
.demi:nth-child(2n),
.tiers:nth-child(3n),
.quart:nth-child(4n){
	margin-right: 0px;
}

/* Moblie Protrait size to Mobile Landscape size (devices and browsers) */
@media only screen and (max-width: 479px) {

}