<html>
	<head>
		<title>Pong - the chat page</title>
		<meta charset="utf-8" />
		<meta name="description" content="Discutes avec tes amis et c'est parti pour des heures de fun !" />
		<meta name="author" content="Team transcendance 42" />
		<meta name="copyright" content="© CC BY-NC-SA 4.0" />
	</head>
	<body>
		<div class="center">
			<div class="main-container">

				<!-- SIDEBAR -->
				<aside class="sidebar">
					<div class="user-bloc">
						<img src="{{ actualUser.avatar_url }}" alt="ma belle gueule">
						<!-- <img style="width: 100px" [src]="user?.avatar_url" [alt]="user?.intra_name"/> -->
						<!-- <p class="intraName">Valentina salamberemborg</p> -->
						<div id="user-info-chat-page">
							<a class="intraName" routerLink="/myprofile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ actualUser.intra_name }}</a>
							<span class="intraEmail">{{actualUser.email}}</span>
						</div>
					</div>
					<!-- <div class="pute"> -->
						<mat-tab-group class="pute" [selectedIndex]="selected.value">
							<mat-tab>
								<ng-template mat-tab-label>
									<ng-container *ngIf="haveNewMessage">
										<svg  style="margin-right: 5px;" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<title>Oval</title>
											<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<g id="Chat-aucun-amis" transform="translate(-965.000000, -558.000000)" fill="#feefcf">
													<g id="Group-2" transform="translate(863.000000, 180.000000)">
														<g id="Group-3" transform="translate(28.000000, 368.000000)">
																<circle id="Oval" cx="80" cy="16" r="6"></circle>
														</g>
													</g>
												</g>
											</g>
									</svg>
									</ng-container>
									Mes groupes 
								</ng-template>
								<ul>
									<li *ngFor="let room of (rooms$ | async)" [value]="room">
										<p class="roomName" (click)="selectRoom(room)">{{room.name}}
											<ng-container *ngIf="!room.seen">
												<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<title>Oval</title>
													<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<g id="Chat-aucun-amis" transform="translate(-965.000000, -558.000000)" fill="#EE481E">
															<g id="Group-2" transform="translate(863.000000, 180.000000)">
																<g id="Group-3" transform="translate(28.000000, 368.000000)">
																	<circle id="Oval" cx="80" cy="16" r="6"></circle>
																</g>
															</g>
														</g>
													</g>
												</svg>
											</ng-container>
										</p>
									</li>
								</ul>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									<ng-container *ngIf="haveNewDm">
										<svg  style="margin-right: 5px;" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<title>Oval</title>
											<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<g id="Chat-aucun-amis" transform="translate(-965.000000, -558.000000)" fill="#feefcf">
													<g id="Group-2" transform="translate(863.000000, 180.000000)">
														<g id="Group-3" transform="translate(28.000000, 368.000000)">
															<circle id="Oval" cx="80" cy="16" r="6"></circle>
														</g>
													</g>
												</g>
											</g>
									</svg>
									</ng-container>
									Mes amis
								</ng-template>
								<ul>
									<li *ngFor="let dm of (dmRooms$ | async)" [value]="dm">
										<p class="roomName" (click)="selectRoom(dm)">{{ friend(dm).intra_name }}
											<ng-container *ngIf="!dm.seen">
												<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<title>Oval</title>
													<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<g id="Chat-aucun-amis" transform="translate(-965.000000, -558.000000)" fill="#EE481E">
																	<g id="Group-2" transform="translate(863.000000, 180.000000)">
																			<g id="Group-3" transform="translate(28.000000, 368.000000)">
																					<circle id="Oval" cx="80" cy="16" r="6"></circle>
																			</g>
																	</g>
															</g>
													</g>
												</svg>
											</ng-container>
										</p>
									</li>
									<img width="224px" src="../../../assets/img/illu-aucun-ami.png" alt="Tu n'as aucun ami :(">
								</ul>
							</mat-tab>
						</mat-tab-group>
						<a class="button-new-room" (click)="NewRoom()">+ Nouveau groupe</a>
					<!-- </div> -->
				</aside>
				<main class="content-chat-page">
					<ng-container *ngIf="!newRoom">
						<app-room [friend] = "friend(selectedRoom)" [room]="selectedRoom" [user]="actualUser"></app-room>
					</ng-container>
					<ng-container *ngIf="newRoom">
						<app-new-room>
						</app-new-room>
					</ng-container>
				</main>
			</div>
		</div>
	</body>
</html>


<ng-template #no_rooms>
	<p class="no-room" >Vous n'avez pas encore de groupe</p>
</ng-template>
