html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;}

@font-face {
	font-family: 'Titan One';
	src: url('../../../assets/fonts/Titan_One/TitanOne-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Light';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Regular';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Medium';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-SemiBold';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Bold';
	src: url('../../../assets/fonts/Readex_Pro/ReadexPro-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

*{
	box-sizing: border-box;
	transition: all ease 0.4s;
}
img{
	max-width: 100%;
	height: auto;
}

body{
	background-color: #1f1f1f;
}
a{
	color: inherit;
}

.center-pong{
	margin: auto;
	max-width: 850px;
	clear: both;
}
hr.clear{
	margin: 0;
	padding: 0;
	clear: both;
	border: none;
	height: 0px;
	display: block;
}


.center-pong h1, .center-pong h2{
    font-family: Titan One;
    color: #feefcf;
    margin: 50px 0px 30px 0px;
}
.center-pong h1{
    font-size: 35px;
}
.center-pong h2{
    font-size: 27px;
    margin-top: 100px;
}

.tuto{
    border: 2px solid #feefcf;
    border-radius: 20px;
    padding: 30px;
    color: #feefcf;
    font-family: ReadexPro-Medium;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
.tuto .up-down{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.tuto .demi{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.tuto .demi:last-child{
    margin-right: 0px;
}
.tuto #key{
    display: flex;
	flex-direction: column;
    justify-content:  center;
    font-size: 30px;
    background-color: #343330;
    border-radius: 6px;
    box-shadow: 0px 6px #121212;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.tuto .demi:hover #key{
    background-color: #42413e;
    cursor: pointer;
    /* box-shadow: 0px -6px #121212; */
}
.tuto .demi:hover #up{
    margin-bottom: 20px;
}
.tuto .demi:hover #down{
    margin-top: 20px;
}

.center-pong .buttons{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}
.center-pong .buttons button{
    background-color: #ee481e;
    border: 3px solid #feefcf;
    box-shadow: -4px 4px #feefcf;
    border-radius: 6px;
    font-family: Titan One;
    font-size: 22px;
    color: #feefcf;
    text-align: center;
    height: 80px;
    width: 100%;
}
.center-pong .buttons button:hover{
    background-color: #1f1f1f;
    color: #ee481e;
    cursor: pointer;
}

.center-pong .buttons #stop{
    background-color: #feefcf;
    border: 3px solid #ee481e;
    box-shadow: -4px 4px #ee481e;
    color: #ee481e;
}

.center-pong .buttons button:hover #icon-random{
    stroke: #ee481e;
}
.center-pong .buttons #random{
    width: 80px;
    min-width: 80px;
    margin-left: 30px;
}


.match{
    background-color: #343330;
    padding: 20px 50px 20px 50px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.match .info{
    display: flex;
    flex-direction: row;
    color: #feefcf;
}
.match .info{
    /* background-color: blue; */
    width: 100%;
}
.match .but{
    display: flex;
    align-items: center;
    min-width: fit-content;
}
.match .but button{
    display: flex;
    align-items: center;
    height: 35px;
    margin-left: 25px;
	font-family: ReadexPro-Medium;
	color: #feefcf;
	background-color: transparent;
	border-radius: 6px;
	border: 2px solid #42413e;
	padding: 4px 10px 4px 10px;
	margin-top: -5px;
}
.match .but button:hover{
	color: #ee481e;
	cursor: pointer;
	border: 2px solid #ee481e;
}
.match .but button:focus{
	outline: none;
}
.match .but button img{
    margin-left: 10px;
}

.match .info .profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: ReadexPro-Medium;
    font-size: 22px;
}
.match .info .profil:hover{
    color: #9c9381;
    cursor: pointer;
}

.match .info .profil img{
    width: 50px;
	min-width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50px;
	border: 3px solid #ee481e;
	box-shadow: -3px 3px #ee481e;
    margin-right: 15px;
}
.match .info .vs{
    margin: 0px 40px 0px 40px;
    font-family: Titan One;
    font-size: 42px;
}




/* .myButton {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #f9f4e6 5%, #636260 100%);
    background-color: #eae0c2;
    border-radius: 20px;
    border: 3px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #282828;
    font-family: streetartfont;
    font-size: 30px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    margin: 5px;
}
.myButton:hover {
    background: linear-gradient(to bottom, #636260 5%, #f9f4e6 100%);
    background-color: #ccc2a6;
}
.myButton:active {
    position: relative;
    top: 1px;
}
.playerNameLeft {
    display: inline-block;
    color: #282828;
    font-family: streetartfont;
    font-size: 30px;
}
.playerNameRight {
    display: inline-block;
    color: #282828;
    font-family: streetartfont;
    font-size: 30px;
}
.score_c {
    display: flex;
    color: #282828;
    font-family: streetartfont;
    font-size: 40px;
    border-radius: 0.5em;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.names {
    width: 500px;
    border-radius: 0.5em;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 0em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #282828;
    font-family: streetartfont;
} */

/* .pongCanvas {
    width: 80%; */
    /* height: 70%; */
    /* border-radius: 0.5em; */
    /* padding: 10px; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* margin: 0em; */
    /* align-items: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* color: #282828; */
    /* font-family: streetartfont; */
/* } */

/* .sidenav {
    background-color: #111;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    top: 0;
    width: 220px;
}
.sidenav span {
    color: #818181;
    display: block;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
}
.sidenav span.selected {
    color: #e1e1e1;
}
.sidenav span:hover {
    color: #f1f1f1;
    cursor: pointer;
} */
