  <div class="names">
    <div class="playerNameLeft" id="leftName">
      {{player1.displayname | async}}
    </div>
    <div class="playerNameRight" id="rightName">
      {{player2.intra_name | async }}
    </div>
</div>

<div align="center">
  <canvas id="pong" height=400 width=600></canvas>
</div>

<div class="score_c" id="score">0 : 0</div>
<div align="center">
      <button id="buttonStart" (click)="newGame(true)" class="myButton">Start</button>
      <button id="buttonStartRandom" (click)="newGame(false)" class="myButton">StartRandom</button>
</div>