<ul class="blocked-list">
    <li>
        <div class="info-demande">
            <!-- <img [src]="request.from.avatar_url" [alt]="request.from.intra_name"> -->
            <img src="../../../../assets/img/default_profile_picture.webp">
            <div class="name-n-email">
                <a href="le profil du gars">vserra7890</a>
                <span>vserra@student.42.fr</span>
            </div>
        </div>
        <div class="buttts">
            <!-- <button id="accept"(click)="respond(request.id, true)">
                Accepter
                <img src="../../../../assets/svg/checked.svg" alt="save" >
            </button> -->
            <button id="unblock">
                Débloquer
                <!-- <img src="../../../../assets/svg/quit.svg" alt=""> -->
            </button>
        </div>
    </li>
</ul>