@font-face {
	font-family: 'Titan One';
	src: url('../../assets/fonts/Titan_One/TitanOne-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ReadexPro-Regular';
	src: url('../../assets/fonts/Readex_Pro/ReadexPro-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ReadexPro-Medium';
	src: url('../../assets/fonts/Readex_Pro/ReadexPro-Medium.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ReadexPro-Bold';
	src: url('../../assets/fonts/Readex_Pro/ReadexPro-Bold.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

/* champs de text ------------------------------------------------------------------------- */

#input-box{
	display: flex;
	flex-direction: column;
	font-family: ReadexPro-Medium;
	margin-bottom: 20px;
}
#input-text-n-button{
	display: flex;
	flex-direction: row;
}
#input-title{
	font-size: 11px;
	margin-left: 4px;
	margin-bottom: 4px;
	font-family: ReadexPro-Regular;
	color: #9c9381;
}
#input-error{
	margin-top: 4px;
	font-size: 11px;
	margin-left: 4px;
	font-family: ReadexPro-Regular;
	color: #ee481e;
	margin-top: -16px;
}
#input-text {
	border-radius: 10px;
	padding: 15px 15px 0px 15px;
	width: 100%;
	background: #343330;
	border: none;
	resize: none;
	color: #feefcf;
	font-family: ReadexPro-Medium;
	font-size: 14px;
	overflow: hidden;
}
#input-text::placeholder{
	color: #9c9381;
}
#input-text:focus {
	outline: none;
}

/* mat-autocomplete{

	background-color: red;
	margin-top: -5px;
} */

mat-autocomplete{

	/* background-color: none; */
	box-shadow: none !important;
}
mat-option{
	background-color: #161616 !important;
}
#user-name {
	color: #feefcf;
	font-family: ReadexPro-Medium;
	font-size: 14px;
	margin-top: -10px;
}
#img-n-name{
	display: flex;
	flex-direction: row;
	/* background-color: none; */
	margin-top:20px;
}
mat-option img{

	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	/* margin-top: 15%; */
	margin-right: 10px;
}
