html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;}

@font-face {
	font-family: 'Titan One';
	src: url('../../../../assets/fonts/Titan_One/TitanOne-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Light';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Regular';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Medium';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-SemiBold';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Bold';
	src: url('../../../../assets/fonts/Readex_Pro/ReadexPro-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

*{
	box-sizing: border-box;
	transition: all ease 0.4s;
}
img{
	max-width: 100%;
	height: auto;
}

body{
	background-color: #1f1f1f;
}
a{
	color: inherit;
}
.canvas-pong{
  /* background-color: darkmagenta; */
  max-height: 638px;
}
.center-pong{
	margin: auto;
	max-width: 850px;
	clear: both;
}
hr.clear{
	margin: 0;
	padding: 0;
	clear: both;
	border: none;
	height: 0px;
	display: block;
}



.players {
  font-family: Titan One;
  font-size: 22px;
  /* background-color: coral; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  color: #feefcf;
  margin: 30px 0px 30px 0px;
}
.players span{
  font-size: 18px;
  color: #ffcc00;
  margin-top: 5px;
}

.players a{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.players .info{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.players img{
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 60px;
  object-fit: cover;
  border: 3px solid #ee481e;
  box-shadow: -3px 3px #ee481e;
}

.pongCanvas {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 638px;
  margin: auto;
  align-self: center;
}

.all-finish{
  margin: 180px 0px 180px 0px;
  display:flex;
  flex-direction: column;
  /* background-color: blue; */
}
.finish{
  display:flex;
  flex-direction: row;
  color: #feefcf;
}
.finish #desktop{
  height: 300px;
  width: 300px;
  min-width: 300px;
  border-radius: 10px;
  margin-right: 40px;
  object-fit: cover;
  border: 4px solid #ee481e;
  box-shadow: -7px 7px #ee481e;
}
.finish #pouce-title{
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
}
.finish #pouce{
  height: auto;
  width: 35px;
}
.finish span{
  align-self: end;
  margin-bottom: 5px;
  font-family: ReadexPro-Medium;
  font-size: 30px;
  margin-left:  10px;
}
.finish h1{
  font-family: Titan One;
  font-size: 60px;
  margin: 10px 0px 60px 0px;
}

.finish button{
  background-color: #ee481e;
  border: 3px solid #feefcf;
  box-shadow: -4px 4px #feefcf;
  border-radius: 6px;
  font-family: Titan One;
  font-size: 16px;
  color: #feefcf;
  text-align: center;
  padding: 20px 40px 20px 40px;
}
.finish button:hover{
  background-color: #1f1f1f;
  color: #ee481e;
  cursor: pointer;
}

.finish #mobile{
  display: none;
}


@media only screen and (max-width: 850px) {

	.center-pong{
		margin: 0px 30px 0px 30px;
	}
  .finish #desktop{
    display: none;
  }

  .all-finish{
    margin: 40px 0px 40px 0px;
  }

  .finish #mobile{
    display: flex;
    height: 60%;
    width: 60%;
    min-width: 60%;
    border-radius: 6px;
    /* margin:auto; */
    margin-bottom: 50px;
    object-fit: cover;
    border: 3px solid #ee481e;
    box-shadow: -5px 5px #ee481e;
  }

  .finish button{
    width: 100%;
    margin-bottom: 150px;
  }
  .finish h1{
    font-size: 40px;
    margin: 10px 0px 50px 0px;
  }
}