<html>
	<head>
		<title>Pong - the leaderbord</title>
		<meta charset="utf-8" />
		<meta name="description" content="C'est la classement des meilleeurs pongistes" />
		<meta name="author" content="Team transcendance 42" />
		<meta name="copyright" content="© CC BY-NC-SA 4.0" />
	</head>
	<body>
		<div class="center">
			<div class="podium">
				<div class="tiers">
					1
				</div>
				<div class="tiers">
					1
				</div>
				<div class="tiers">
					1
				</div>
			</div>
		</div>
	</body>
</html>