<html>
	<head>
		<title>Pong - the leaderbord</title>
		<meta charset="utf-8" />
		<meta name="description" content="C'est la classement des meilleeurs pongistes" />
		<meta name="author" content="Team transcendance 42" />
		<meta name="copyright" content="© CC BY-NC-SA 4.0" />
	</head>
	<body>
		<div class="center">

			<!-- PODIUM -->
			<h1 id="title-classement">Les meilleurs pongistes de la mort !</h1>
			<section class="podium">
				<div class="tiers">
					<div class="profil" id="s2">
						<a id="profil-down" href="">
							<img src="../../../assets/img/default_profile_picture.webp" alt="UNE BELLE GUEULE">
							<span>vserra0123</span>
						</a>
					</div>
					<div class="step2" id="s2">
						2
					</div>
				</div>
				<div class="tiers">
					<div class="profil" id="s3">
						<a id="profil-down" href="">
							<img src="../../../assets/img/default_profile_picture.webp" alt="UNE BELLE GUEULE">
							<span>vserra0123</span>
						</a>
					</div>
					<div class="step1" id="s1">
						1
					</div>
				</div>
				<div class="tiers">
					<div class="profil" id="s1">
						<a id="profil-down" href="">
							<img src="../../../assets/img/default_profile_picture.webp" alt="UNE BELLE GUEULE">
							<span>vserra0123</span>
						</a>
					</div>
					<div class="step3" id="s3">
						3
					</div>
				</div>
			</section>


			<!-- LISTE DU CLASSEMENT -->
			<section class="classement">

				<!-- membre -->
				<div class="member">
					<div id="classement-content">
						<div class="rank">
							#44
						</div>
						<div class="user">
							<img src="../../../assets/img/default_profile_picture.webp" alt="belle gueule">
							<span>vserra0123</span>
						</div>
						<div class="data">
							<span id="number">12098</span>
							<span id="data-name">Points</span>
						</div>
						<div class="data">
							<span id="number">123</span>
							<span id="data-name">Victoires</span>
						</div>
						<div class="data">
							<span id="number">531</span>
							<span id="data-name">Défaites</span>
						</div>
					</div>
				</div>

				<!-- membre -->
				<div class="member">
					<div id="classement-content">
						<div class="rank">
							#44
						</div>
						<div class="user">
							<img src="../../../assets/img/default_profile_picture.webp" alt="belle gueule">
							<span>vserra0123</span>
						</div>
						<div class="data">
							<span id="number">12098</span>
							<span id="data-name">Points</span>
						</div>
						<div class="data">
							<span id="number">123</span>
							<span id="data-name">Victoires</span>
						</div>
						<div class="data">
							<span id="number">531</span>
							<span id="data-name">Défaites</span>
						</div>
					</div>
				</div>

				<!-- membre -->
				<div class="member">
					<div id="classement-content">
						<div class="rank">
							#44
						</div>
						<div class="user">
							<img src="../../../assets/img/default_profile_picture.webp" alt="belle gueule">
							<span>vserra0123</span>
						</div>
						<div class="data">
							<span id="number">12098</span>
							<span id="data-name">Points</span>
						</div>
						<div class="data">
							<span id="number">123</span>
							<span id="data-name">Victoires</span>
						</div>
						<div class="data">
							<span id="number">531</span>
							<span id="data-name">Défaites</span>
						</div>
					</div>
				</div>

				<!-- membre -->
				<div class="member">
					<div id="classement-content">
						<div class="rank">
							#44
						</div>
						<div class="user">
							<img src="../../../assets/img/default_profile_picture.webp" alt="belle gueule">
							<span>vserra0123</span>
						</div>
						<div class="data">
							<span id="number">12098</span>
							<span id="data-name">Points</span>
						</div>
						<div class="data">
							<span id="number">123</span>
							<span id="data-name">Victoires</span>
						</div>
						<div class="data">
							<span id="number">531</span>
							<span id="data-name">Défaites</span>
						</div>
					</div>
				</div>

				<!-- membre -->
				<div class="member">
					<div id="classement-content">
						<div class="rank">
							#44
						</div>
						<div class="user">
							<img src="../../../assets/img/default_profile_picture.webp" alt="belle gueule">
							<span>vserra0123</span>
						</div>
						<div class="data">
							<span id="number">12098</span>
							<span id="data-name">Points</span>
						</div>
						<div class="data">
							<span id="number">123</span>
							<span id="data-name">Victoires</span>
						</div>
						<div class="data">
							<span id="number">531</span>
							<span id="data-name">Défaites</span>
						</div>
					</div>
				</div>

				<!-- membre -->
				<div class="member">
					<div id="classement-content">
						<div class="rank">
							#44
						</div>
						<div class="user">
							<img src="../../../assets/img/default_profile_picture.webp" alt="belle gueule">
							<span>vserra0123</span>
						</div>
						<div class="data">
							<span id="number">12098</span>
							<span id="data-name">Points</span>
						</div>
						<div class="data">
							<span id="number">123</span>
							<span id="data-name">Victoires</span>
						</div>
						<div class="data">
							<span id="number">531</span>
							<span id="data-name">Défaites</span>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>