/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  background-color: #1F1F1F;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-container {
  background-color: #1F1F1F !important;
  --mdc-dialog-container-color: #1F1F1F;
  --mdc-dialog-container-radius: 20px;
  /* border-radius: 100px !important; */

}
#mat-mdc-dialog-0{

  border-radius: 20px !important;
}

mdc-dialog-open {
  /* background-color: #1f1f1f !important; */
}

.custom-modalbox {
  /* background-color: #1f1f1f !important;
  --mdc-dialog-container-color: #1F1F1F; */
  box-shadow: none;
  border-radius: 20px !important;
}

.backdropBackground {
  /* background-color: rgba(22,22,22, 0.2); */
  box-shadow: none;
  /* opacity: 10%; */
  backdrop-filter: blur(25px);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
