/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  background-color: #1F1F1F;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



mat-dialog-container {
  background-color: #1f1f1f !important;
  border-radius: 20px !important;
}

.custom-modalbox mat-dialog-container{
  background-color: #1f1f1f !important;
  box-shadow: none;
  /* background-color: #feefcf !important; */
  /* border:8px solid #ee481e; */
}

.backdropBackground {
  /* background-color: rgba(22,22,22, 0.2); */
  box-shadow: none;
  /* opacity: 10%; */
  backdrop-filter: blur(25px);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
