
<div class="container">
	<!-- <mat-card>
	<mat-card-title>
		Amis
	</mat-card-title>
		<mat-card-content>
		<mat-list>
			<mat-list-item *ngFor="let friend of (friends | async)">
			<img matListAvatar [src]="friend.avatar_url" [alt]="friend.displayname">
			<h4 matLine>{{friend.displayname}}</h4>
			<p matLine>
				<span>{{ friend.email }} </span>
			</p>
			<h4 matLine *ngIf="friend.state == 'INGAME'" style="color:rgb(243, 37, 239); font-size: 13px;" >En jeu</h4>
			<h4 matLine *ngIf="friend.state == 'ONLINE'" style="color:yellowgreen; font-size: 13px;" >En ligne</h4>

			<button mat-button matTooltip="Supprimer {{ friend.displayname }} de la liste d'amis" matTooltipPosition="above" style="color: red" (click)="removeFriend(friend.id)">
				<mat-icon>delete</mat-icon>
			</button>
			</mat-list-item>
		</mat-list>
		</mat-card-content>
	</mat-card> -->
	<ul class="demandes">
		<li *ngFor="let request of (pandingFriends | async)">
			<div class="info-demande">
				<img [src]="request.from.avatar_url" [alt]="request.from.intra_name">
				<div class="name-n-email">
					<a href="le profil du gars">{{request.from.intra_name}}</a>
					<span>vserra@student.42.fr</span>
				</div>
			</div>
			<div class="buttts">
				<button id="accept"(click)="respond(request.id, true)">
					Accepter
					<img src="../../../../assets/svg/checked.svg" alt="save" >
				</button>
				<button id="refuse" (click)="respond(request.id, false)">
					Refuser
					<img src="../../../../assets/svg/quit.svg" alt="">
				</button>
			</div>
		</li>
	</ul>

	<!-- <mat-card>
		<mat-card-title>
			Inviter un utilisateur
		</mat-card-title>
		<mat-card-content>
		<app-userselect (addUser)="addFriend($event)"></app-userselect>
		</mat-card-content>
	</mat-card> -->
</div>