html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;}

@font-face {
	font-family: 'Titan One';
	src: url('../../../../../assets/fonts/Titan_One/TitanOne-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Light';
	src: url('../../../../../assets/fonts/Readex_Pro/ReadexPro-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Regular';
	src: url('../../../../../assets/fonts/Readex_Pro/ReadexPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Medium';
	src: url('../../../../../assets/fonts/Readex_Pro/ReadexPro-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-SemiBold';
	src: url('../../../../../assets/fonts/Readex_Pro/ReadexPro-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ReadexPro-Bold';
	src: url('../../../../../assets/fonts/Readex_Pro/ReadexPro-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

*{
	box-sizing: border-box;
	transition: all ease 0.4s;
}
img{
	max-width: 100%;
	height: auto;
}

body{
	background-color: #1f1f1f;
}
a{
	color: inherit;
}

.param-header {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 2px #56554F;
    display: flex;
    flex-direction: row;
	margin-bottom: 60px;
}

.param-header h2 {
	font-family: Titan One;
	font-size: 24px;
	padding-top: 5px;
	color: #ee481e;
	width: 85%;
}
.param-header #close-settings{
	margin-top: -8px;
	margin-right: 20px;
}


#edit, #gerer{
    display:flex;
    flex-direction: column;
}
#edit{
    margin-bottom: 60px;
}
hr.clear{
	margin: 0;
	padding: 0;
	clear: both;
	border: none;
	height: 0px;
	display: block;
}

#param-body{
    padding: 40px
}
#param-body h3 {
	font-family: Titan One;
	font-size: 35px;
	color: #feefcf;
}
#title-n-button{
	// background-color: #43EE1E;
	display: flex;
    flex-direction: row;
	margin-bottom: 30px;
}
#title-n-button button{
    /* width: 35px; */
    height: 35px;
    margin-left: 25px;
	font-family: ReadexPro-Medium;
	color: #feefcf;
	background-color: transparent;
	border-radius: 6px;
	border: 2px solid #343330;
	padding: 4px 10px 4px 10px;
	margin-top: -5px;
}
#title-n-button button:hover{
	color: #ee481e;
	cursor: pointer;
	border: 2px solid #ee481e;
}
#title-n-button button:focus{
	outline: none;
}
#edit #title-n-button button:hover{
	color: #43EE1E;
	cursor: pointer;
	border: 2px solid #43EE1E;
}
#title-n-button button img{
	margin-left: 4px;
}

.param-header button{
	min-width:fit-content;
	height: 35px;
    margin-left: 25px;
	// margin-top: 5px;
	font-family: ReadexPro-Medium;
	color: #feefcf;
	background-color: transparent;
	border-radius: 6px;
	border: 2px solid #343330;
	padding: 4px 10px 4px 10px;
}
.param-header button:hover{
	/* background-color: #ee481e; */
	color: #ee481e;
	cursor: pointer;
	border: 2px solid #ee481e;
}
.param-header button:focus{
	outline: none;
}
.param-header button img{
	margin-left: 4px;
}

/* champs de text ------------------------------------------------------------------------- */

#input-box{
	display: flex;
	flex-direction: column;
	font-family: ReadexPro-Medium;
	margin-bottom: 20px;
}
#input-title{
	font-size: 11px;
	margin-left: 4px;
	margin-bottom: 4px;
	font-family: ReadexPro-Regular;
	color: #9c9381;
}
#input-error{
	margin-top: 4px;
	font-size: 11px;
	margin-left: 4px;
	font-family: ReadexPro-Regular;
	color: #ee481e;
}
textarea{
	height: fit-content;
    line-height: fit-content;
}
#input-text {
	border-radius: 10px;
	padding: 15px 15px 0px 15px;
	width: 100%;
	background: #343330;
	border: none;
	resize: none;
	color: #feefcf;
	font-family: ReadexPro-Medium;
	font-size: 14px;
	overflow: hidden;
}
#input-text::placeholder{
	color: #9c9381;
}
#input-text:focus {
	outline: none;
}
#public-check-box {
	font-family: ReadexPro-Medium;
	margin-bottom: 5px;
	color:#feefcf;
}

// GERER LES MEMBRES ----------------------------------------------------------------------- //

#membre{
    display:flex;
    flex-direction: row;
    font-family: ReadexPro-Medium;
    background-color: #343330;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.info{
    display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100%;
	align-self: center;
	// background-color: #43EE1E;
}
.info .name-status{
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-left: 15px;
}
.info .name-admin{
	display: flex;
	flex-direction: row;
}
.info #photo{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 40px;
	border: 3px solid #ee481e;
	box-shadow: -3px 3px #ee481e;
}

.info #user-name{
	font-family: Titan One;
	color: #feefcf;
	font-size: 16px;
	margin: 0px 10px 0px 0px;
}
.info #user-status{
	font-family: ReadexPro-Regular;
	color: #9c9381;
	font-size: 12px;
}

.buts-menu{
	display: none;
}
.buts{
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: end;
	margin-right: 6px;
	// background-color: blueviolet;
}
#membre button{
    margin-left: 20px;
	height: 40px;
	width: 40px;
	border: none;
	background-color: transparent;
}

#membre button:hover{
	cursor: pointer;
}

#icon-admin:hover #icon{
	fill: #f42323;
}
#icon-admin:hover #BG{
	fill: #f42323;
	stroke: #f42323;
	opacity: 20%;
}

#icon-invite-game:hover #icon{
	fill: #ee481e;
}
#icon-invite-game:hover #BG{
	fill: #ee481e;
	stroke: #ee481e;
	opacity: 20%;
}

#icon-ask-friend:hover #icon{
	fill: #ef5f00;
}
#icon-ask-friend:hover #BG{
	fill: #ef5f00;
	stroke: #ef5f00;
	opacity: 20%;
}

#icon-mute:hover #icon{
	fill: #f1a726;
}
#icon-mute:hover #BG{
	fill: #f1a726;
	stroke: #f1a726;
	opacity: 20%;
}

#icon-block:hover #icon{
	fill: #ef7e00;
}
#icon-block:hover #BG{
	fill: #ef7e00;
	stroke: #ef7e00;
	opacity: 20%;
}

#icon-exclure:hover #icon{
	fill: #efc10a;
}
#icon-exclure:hover #BG{
	fill: #efc10a;
	stroke: #efc10a;
	opacity: 20%;
}

#icon-bannir:hover #icon{
	fill: #f9e131;
}
#icon-bannir:hover #BG{
	fill: #f9e131;
	stroke: #f9e131;
	opacity: 20%;
}

// SUPPRIMER LE GROUPE -------------------------------------------------------- //

.delete-room{
	margin-top: 60px;
}
.delete-room p{
	font-family: ReadexPro-Regular;
	color: #feefcf;
	font-size: 14px;
	width: 65%;
}
.cool-button{

	font-family: Titan One;
	font-size: 14px;
	color: #feefcf;
	background-color: #ee481e;
	border-radius: 6px;
	border: 3px solid #feefcf;
	box-shadow: -3px 3px #feefcf;
	// max-width: 190px;
	display: block;
	padding: 18px 25px 17px 25px;
	margin: 40px 0px 70px 0px;
}
.cool-button:hover{
	background-color: #1F1F1F;
	color: #ee481e;
}

/*------------------------------------------------------------ Grille */
.demi-left{
	float: left;
	margin-right: 20px;
	/* background-color: blue; */
    width: calc(50% - 10px);
}
.demi:last-child{
    margin-right: 0px;
}

.demi-right{
	float: left;
    width: calc(50% - 10px);
}



@media only screen and (max-width: 1000px) {

	// #edit{
	// 	background-color: blue;
	// }
	.buts{
		display: none;
	}
	.buts-menu{
		display: block;
	}
	.buts-menu button:hover{
		background-color: transparent;
	}

	.demi-left{
		float: none;
		width: 100%;
	}
	.demi-right{
		float: none;
		width: 100%;
	}

}
