<!--<div *ngIf="filtersLoaded | async">!-->
<html>
	<head>
		<title>Pong - the chat page</title>
		<meta charset="utf-8" />
		<meta name="description" content="Mon super profil" />
		<meta name="author" content="Team transcendance 42" />
		<meta name="copyright" content="© CC BY-NC-SA 4.0" />
	</head>
	<body>
		<ng-container *ngIf = user>
		<div class="center-profile">
			<!-- HEAD -->
			<div id="head">

				<!-- USER INFO -->
				<div id="user-info-profile">
					<div class="profil-left">
						<img [src]="user.avatar_url" [alt]="user.intra_name"/>
					</div>
					<div class="profil-info">
						<div id="name-n-param">
							<p id="name">{{user.displayname}}</p>

							<!-- BUTTON PARAMETRES -->
							<img src="../../../../assets/svg/settings.svg" alt="settings" (click)="openDialogEditMyProfile()">
						</div>
						<p id="email">{{user.email}}</p>
						<div class="status">
							<p>En ligne</p>
							<img src="../../../assets/svg/online.svg" alt="online">
						</div>
					</div>

					<!-- <div class="profil-right"> -->
						<!-- <button (click)="openDialogEditMyProfile()"> -->
							<!-- <img src="../../../../assets/svg/settings.svg" alt="settings" (click)="openDialogEditMyProfile()"> -->
						<!-- </button> -->
					<!-- </div> -->
				</div>

				<!-- STATISTIQUES -->
				<div id="stats">
					<div class="data">
						<span id="red">{{ user._count?.games_win }}</span>
						<p>Parties gagnées</p>
					</div>
					<div class="data">
						<span id="orange">{{ user._count?.games_lose }}</span>
						<p>Parties perdues</p>
					</div>
					<div class="data">
						<span id="yellow">#{{ user.position_in_leaderboard }}</span>
						<p>Au classement</p>
					</div>
				</div>
			</div>

			<!-- CONTENT -->
			<div class="my-profile-content">
				<mat-tab-group id="friend-n-match">

					<!-- HISTORIQUE DES MATCH -->
					<mat-tab id="historique">
						<ng-template mat-tab-label>
							<div class="label">
								Historique des matchs
							</div>
						</ng-template>

						<!-- <h2>Mes matchs</h2> -->
						<app-list-match-history [user]="user" [id]="user.id"></app-list-match-history>
					</mat-tab>

					<!-- GERER MES AMIS -->
					<mat-tab id="gerer-mes-amis">
						<ng-template mat-tab-label>
							<div class="label">
								Mes amis
							</div>
						</ng-template>
						<!-- <ng-template *ngIf =  "let request of (pandingFriends | async)"> -->
						<ng-container *ngIf="pandingFriends | async as request">
							<ng-container *ngIf =  request[0]>
								<h2>Mes demandes d'ami</h2>
							</ng-container>
						</ng-container>
						<div class="mes-demandes-damis">
							<!-- <app-friends-page></app-friends-page> -->
							<ul class="demandes">
								<li *ngFor="let request of (pandingFriends | async)">
									<div class="info-demande">
										<img [src]="request.from.avatar_url" [alt]="request.from.intra_name">
										<div class="name-n-email">
											<a [routerLink]="['/profile/' + request.from.id ]">{{request.from.intra_name}}</a>
											<!-- <span>{{pandingFriends.email}}</span> -->
										</div>
									</div>
									<div class="buttts">
										<button id="accept"(click)="respond(request.id, true)">
											Accepter
											<img src="../../../../assets/svg/checked.svg" alt="save" >
										</button>
										<button id="refuse" (click)="respond(request.id, false)">
											Refuser
											<img src="../../../../assets/svg/quit.svg" alt="">
										</button>
									</div>
								</li>
							</ul>
						</div>
						<!-- LISTE D'AMIS -->
						<!-- <h2>Mes amis</h2> -->
						<!-- <img src="../../../../assets/svg/settings.svg" alt="settings" (click)="openDialogAddFriend()"> -->
						<!-- <app-add-friend-list></app-add-friend-list> -->
						<app-list-my-friend [user]="user" [friends]="friends"></app-list-my-friend>
					</mat-tab>
					<hr class="clear">

					<!-- UTILISATEURS BLOQUÉS -->
					<!-- <mat-tab id="gerer-mes-amis">

						<ng-template mat-tab-label>
							<div class="label">
								Utilisateurs bloqués
							</div>
						</ng-template>
						<h2>Utilisateurs bloqués</h2>
						<div class="blocked-user">
							<app-list-user-blocked></app-list-user-blocked>
						</div>
					</mat-tab> -->
					<hr class="clear">
				</mat-tab-group>
			</div>
		</div>
	</ng-container>
	</body>
</html>

